<div class="about-section">
    <h1>About Us</h1>
    <p>A small initiative to give a platform to the local shopkeeper.</p>
    <p>Provide more oppertunity to sell their product and also to get a proper feedback from the customer. </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Saurabh Kumar</h2>
          
          
          <p>9587645454</p>
          <p>sk2490@srmist.edu.in</p>
          
        </div>
      </div>
    </div>
  
    
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Saqib Rahman</h2>
          
        
          <p>8529637410</p>
          <p>sr2830@srmist.edu.in</p>
          
        </div>
      </div>
    </div>
  
    
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Kriti Chauhan</h2>
          
          
          <p>9475869321</p>
          <p>kc2850@srmist.edu.in</p>
         
        </div>
      </div>
    </div>
  
   
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Dhruv Sharma</h2>
          
         <p>9032165428</p>
          <p>ds9430@srmist.edu.in</p>
          
        </div>
      </div>
    </div>
  
    
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Vivek kumar</h2>
          
          <p>9999874552</p>
          <p>vc2430@srmist.edu.in</p>
          
        </div>
      </div>
    </div>